<!-- user -->
<!DOCTYPE html>
<html>
<head>
  <title>FoodClouds</title>
  <%= stylesheet_link_tag    'customers', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse" id="collapse">
      <ul class="nav navbar-nav navbar-right">
        <%if customer_signed_in? %>
          <li class="app-nav"><%=link_to "Home", users_index_path%></li>
          <li class="app-nav"><%=link_to "Log Out", destroy_customer_session_path, :method => :delete%></li>
        <%end%>
      </ul>
    </div>
  </nav>
<%= yield %>
</body>
</html>
